<div class="loader" id="loader">
  <div class="loader__boxes">
    <div class="loader__box">
      <div></div>
      <div></div>
      <div></div>
      <div></div>
    </div>
    <div class="loader__box">
      <div></div>
      <div></div>
      <div></div>
      <div></div>
    </div>
    <div class="loader__box">
      <div></div>
      <div></div>
      <div></div>
      <div></div>
    </div>
    <div class="loader__box">
      <div></div>
      <div></div>
      <div></div>
      <div></div>
    </div>
  </div>
</div>
